:root {
  --primary-color: #5E85F8;
  --secondary-color: #292B31;
  --link-color: #BAC2D9;
  --border-color: #464A56;
  --inner-panel-color: #32343C;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #1F2023;
  font-family: sans-serif;
}

.wrapper {
  margin: 2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li, p, a {
  font-size: 1.6rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.hide-mobile {
  display: none;
}

.toggle-menu {
  transform: translateX(0);
}

@media only screen and (min-width: 620px) {
  .hide-tablet {
    display: none;
  }
}
/* Header */
header.primary {
  display: flex;
  justify-content: space-between;
}

header svg {
  width: 42px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 2em;
}

header.primary, .user {
  display: flex;
  gap: 1em;
  align-items: center;
}

.user img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

a.logo img {
  width: 170px;
}

/* Mobile Menu */
aside {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  height: 100vh;
  background: var(--primary-color);
  width: 40%;
  padding: 3em;
  text-align: right;
  transition: transform 0.6s;
  transform: translateX(100%);
}
aside a {
  color: #fff;
  font-size: 2.6rem;
}
aside img {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 0.3em;
  cursor: pointer;
}
aside ul {
  margin-top: 6em;
}
aside ul li {
  margin-bottom: 1.5em;
}

.toggle-menu {
  transform: translateX(0);
}

.sales {
  background-color: var(--primary-color);
  position: relative;
}

.sales, .extra-stats {
  padding: 3.8em;
  color: #fff;
  border-radius: 1em;
  margin-top: 2em;
}
.sales h2, .extra-stats h2 {
  font-size: 6.4rem;
  margin: 0;
}
.sales .label, .extra-stats .label {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}
.sales img, .extra-stats img {
  position: absolute;
  bottom: -45px;
  right: -5px;
  width: 300px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 1.6rem;
}

.extra-stats {
  padding: 3.8em 0;
}
.extra-stats ul {
  display: flex;
  justify-content: space-between;
}
.extra-stats ul strong {
  display: block;
  font-size: 2.6rem;
  margin-bottom: 0.2em;
}

h1 {
  color: #fff;
  font-size: 2.6rem;
}

.chart-container {
  background-color: var(--secondary-color);
  border-radius: 1em;
  padding: 2.8em;
}

.customers ul {
  display: grid;
  margin-top: 2em;
  color: #fff;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;
}
.customers ul li {
  display: flex;
  justify-content: space-between;
}
.customers ul .cta-btn img {
  width: 24px;
  height: 24px;
  padding: 1em;
  background-color: var(--secondary-color);
  border-radius: 0.3em;
}
.customers ul .user-left {
  display: flex;
  align-items: center;
  gap: 1.2em;
}
.customers ul .user-left img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.customers ul .user-info strong {
  display: block;
}

@media only screen and (min-width: 620px) {
  .signout {
    display: block;
    padding: 0.7em;
    background-color: var(--secondary-color);
    border-radius: 0.3em;
  }
  .header-right nav {
    display: flex;
    align-items: center;
    gap: 2em;
  }
  aside {
    position: inherit;
    height: auto;
    width: auto;
    padding: 2em;
    margin-top: 2em;
    transform: unset;
    transition: unset;
    text-align: inherit;
    background-color: var(--secondary-color);
    background: unset;
    border-radius: 1em;
  }
  aside img {
    background: unset;
    cursor: unset;
  }
  aside nav ul {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }
  aside nav ul li {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  aside nav ul li a {
    font-size: 1.8rem;
  }
  aside nav ul li img {
    display: block !important;
  }
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 3em;
  }
  .earnings, .customers {
    grid-column: 1/3;
  }
  .extra-stats ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
}

/*# sourceMappingURL=main.css.map */
